
<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Reservatron</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="static/bootstrap/css/font-awesome.min.css">
        <link rel="stylesheet" href="static/bootstrap/css/jquery.fancybox.css">
        <link rel="stylesheet" href="static/bootstrap/css/landing/bootstrap.min.css">
        <link rel="stylesheet" href="static/bootstrap/css/owl.carousel.css">
        <link rel="stylesheet" href="static/bootstrap/css/slit-slider.css">
        <link rel="stylesheet" href="static/bootstrap/css/animate.css">
        <link rel="stylesheet" href="static/bootstrap/css/main.css">
        <script src="static/bootstrap/js/modernizr-2.6.2.min.js"></script>

    </head>
	
    <body id="body">
        <header id="navigation" class="navbar-inverse navbar-fixed-top animated-header">
            <div class="container">
                <div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
                    </button>
					<h1 class="navbar-brand">
						<a href="/login"><!--img src="img/bannerhalf.png"-->Home page</a>
					</h1>
                </div>
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <ul id="nav" class="nav navbar-nav">

                    </ul>
                </nav>
            </div>
        </header>
		<main class="site-content" role="main">


			
			<section id="resetpassword" class="parallax">
				<div class="overlay">
					<div class="container">
						<div class="row">
						
							<div class="sec-title text-center white wow animated fadeInDown">
							<BR><BR><BR>
								<h2>Set your password</h2>
							</div>
							
							<div id="setpassword" class=" wow animated fadeInUp">
								<div class="col-md-4 col-md-offset-4 login-form" style="background-color:rgba(0,0,0,0.4); padding: 20px; border-radius: 6px;-webkit-border-radius: 6px">
									
									<form action="/resetpassword" method="post">
									<input type="hidden" class="form-control" id="reset_code" name="reset_code" value="{{ reset_code }}"/>
						            <input type="hidden" class="form-control" id="email" name="email" value="{{ email_address }}"/>
						                    <div class="control-group">
						                        <label class="control-label" for="password">Type in new password</label>
						                        <div class="controls">
						                            <input maxlength="100" placeholder="New password..." type="password" class="form-control" id="password" name="password" style=" border-radius: 4px;-webkit-border-radius: 4px"/>
						                        </div>
						                    </div>
						                    <div class="control-group">
						                        <label class="control-label" for="password_again">Type the password again</label>
						                        <div class="controls">
						                            <input maxlength="100" placeholder="New password again..." type="password" class="form-control" id="password_again" name="password_again" style=" border-radius: 4px;-webkit-border-radius: 4px"/>
						                        </div>
						                    </div>						
<BR><BR>
      								<button class="btn btn-blue btn-effect" type="submit" id="Submit" name="Submit">Set password</button>   
<BR><BR>    								
            					</form>
								    {% if message %}
										{{ message }}

    								{% endif %}
  								</div>

								
							</div>
						
						</div>
					</div>
				</div>
			</section>


		
		</main>
		
		<footer id="footer">
			<div class="container">
				<div class="row text-center">
					<div class="footer-content">
						
						<p>Copyright &copy; This app is made by blueMorpho Software Testing. Terms and conditions <a href="/page/termsandconditions">here</a>. </p>
					</div>
				</div>
			</div>
		</footer>
        <script src="static/bootstrap/js/jquery-1.11.1.min.js"></script>
        <script src="static/bootstrap/js/bootstrap.min.js"></script>
        <script src="static/bootstrap/js/jquery.singlePageNav.min.js"></script>
        <script src="static/bootstrap/js/jquery.fancybox.pack.js"></script>
        <script src="static/bootstrap/js/owl.carousel.min.js"></script>
        <script src="static/bootstrap/js/jquery.easing.min.js"></script>
        <script src="static/bootstrap/js/jquery.slitslider.js"></script>
        <script src="static/bootstrap/js/jquery.ba-cond.min.js"></script>
        <script src="static/bootstrap/js/wow.min.js"></script>
        <script src="static/bootstrap/js/main.js"></script>

    </body>
</html>